body {
    background-color: #d3d3d3;
    color: #000000;
    margin-top: 100px;
    }
  
h1, h2, h3, h4, h5, h6 {
    color: #1311b1;
    }
  
ul {
    margin: 0;
    }
  
.bg-steel {
    background-color: #ad1c1c;
    }
  
.site-header .navbar-nav .nav-link {
    color: #ecde11;
    }
  
.site-header .navbar-nav .nav-link:hover {
    color: #75cff3;
    font-weight: bold;
    text-decoration: underline;
    }
  
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    font-style: italic;
    }
  
.content-section {
    background: transparent;
    padding: 10px 20px;
    border: 5px ridge #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    }
  
.article-title {
    color: #ad1c1c;
    font-family: sans-serif;
    }
  
a.article-title:hover {
    color: #000000;
    text-decoration: none;
    }
  
.article-content {
    white-space: pre-line;
    }
  
.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
    }
  
.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 5px solid #2cbb00
    }
  
.article-metadata a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    }
  
.article-svg {
    width: 25px;
    height: 20px;
    vertical-align: middle;
    }
  
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    }
  
.account-heading {
    font-size: 2.5rem;
    }

.article-metadata a{
    color: chocolate;
    font-size: 15px;
    font-weight: bold;
}